<%= simple_form_for(@booking) do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <p class="message"><i>Fill all the required fields, and we'll get back to you via email as soon as we can. Alternatively you can book through <a href="https://www.airbnb.co.uk/rooms/22786240">AirBnb</a>, <a href="https://www.homeaway.co.uk/p1023890?uni_id=1272584">HomeAway</a>, or <a href="https://www.tripadvisor.com/VacationRentalReview-g551628-d3319589-Seaview-Bigbury_on_Sea_Devon_England.html">Holiday Lettings</a></i></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= f.input :name, required: true %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= f.input :email, required: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= f.input :start, required: true, :order => [:day, :month, :year], :input_html => {:rows => 10}, label: "Start Date" %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= f.input :end, required: true, :order => [:day, :month, :year], :input_html => {:rows => 10}, label: "End Date" %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= f.input :guests, required: true, collection: 1..20 %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= f.input :description, label: "Additional Questions" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <%= f.button :submit, "Send Booking Request", class: "submit" %>
    </div>
  </div>
<% end %>
